* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 66.1%;
  z-index: 3;
}

.form-inline {
  position: absolute;
  right: 20px;
}

.btn-outline-success {
  color: #2c71c0;
  border-color: #2c71c0;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #2c71c0;
  border-color: #2c71c0;
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #2c71c0;
  border-color: #2c71c0;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.navbar-brand{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c71c0 !important;
}

.carousel {
  top: 71px;
}

.movie-details {
  position: relative;
  top: 100px;
}

.card-img-top {
  position: relative;
  top: -83px;
  width: 18rem;
  height: 27rem;
}

.card-body {
  display: inline-block;
}

.summary-head {
  position: relative;
  top: -45px;
}

.comments-area {
  position: relative;
  top: 72px;
}

.movie-comments {
  margin-top: 20px;
}

.author-info {
  display: inline-block;
  font-size: 18px;
  color: #2c71c0;
}

.author-info > p {
  margin-bottom: 5px;
}

img {
  width: 1.9rem;
}

.comment, .summary {
  text-indent: 32px;
}

h5 {
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  background-color: #777777;
  color: white;
}

.similar-movie-lists {
    position: relative;
    top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.similar-movie-lists > img {
    display: inline-block;
}