* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 66.1%;
  z-index: 3;
}

.form-inline {
  position: absolute;
  right: 20px;
}

.btn-outline-success {
  color: #2c71c0;
  border-color: #2c71c0;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #2c71c0;
  border-color: #2c71c0;
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #2c71c0;
  border-color: #2c71c0;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.navbar-brand{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c71c0 !important;
}

.carousel {
  top: 71px;
}

.movie-details {
  position: relative;
  top: 100px;
}

.card-img-top {
  position: relative;
  top: -83px;
  width: 18rem;
  height: 27rem;
}

.card-body {
  display: inline-block;
  width: 60%;
}

.movie-description {
  padding: 5px;
  width: fit-content;
  height: fit-content;
  background-color: #2c71c0;
  color: white;
  border-radius: 5px;
}

.summary-head {
  position: relative;
  top: -45px;
}

.comments-area {
  position: relative;
  top: 72px;
}

.movie-comments {
  margin-top: 20px;
}

.profile-photo {
  display: inline-block;
}

.author-info {
  display: inline-block;
  font-size: 18px;
  color: #2c71c0;
}

.author-info, .comment {
  margin-bottom: 5px;
}

.profile-photo > img {
  width: 1.9rem;
}

.comment, .summary {
  text-indent: 32px;
}

h5 {
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  background-color: #777777;
  color: white;
}

.similar-movie-lists-area {
  position: relative;
  top: 91px;
}

.show-movie-lists {
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-card {
  display: inline-block;
  width: 10rem;
  height: 15rem;
}

.movie-card-info {
  position: relative;
}

.movie-title {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

.rating {
  margin: 11px auto;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  background-color: #2c71c0;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.movie-card {
  position: relative;
  top: 30px;
  margin: 20px;
  width: 18rem;
}

.search-movie-lists {
  position: relative;
  top: 153px;
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-card-body {
  position: relative;
  top: -48px;
  width: 100%;
  text-align: center;
}